
.banner1{
    width: 80%;
    height: 70%;
    top: 200%;
    left:150px;
    position: relative;
    color: white;
}
.app-text{
    width: 30%;
    float: left;
    margin-top: 50px;
    padding-top: 20px;
}
.app-text h3{
    font-size: 20px;
    text-align: center;
    width: 300px;
    position: relative;
    /* margin-left: 60px; */
    /* padding: 50px; */
}

.app-picture{
    position: relative;
    margin-top: 10px;
    width: 50%;
    margin-left: 500px;
    /* float: right; */
}
.app-picture img{
    width: 120%;
    margin-top: -20px;
    padding-left: 50px;
}
  