

.banner1 {
  width: 50%;
  height: 70%;
  /* top: 500px; */
  left: 500px;
  /* bottom: 500px; */
  position: relative;
  color: white;
}
.atext {
  width: 30%;
  margin-top: 50px;
  padding-top: 20px;
}
.atext h3 {
  font-size: 15px;
  text-align: center;
  width: 300px;
  position: relative;
  /* margin-left: 60px; */
  padding: 50px;
}
.apicture{
    /* position: relative; */
    margin-top:0;
    width: 30%;
    margin-left: 500px;
    /* float: right; */
}
.apicture img{
    width: 500%;
    /* margin-top: -4000px; */
    padding-left: 50px;
}